[tool.poetry]
name = "mdopt"
version = "0.1.0"
description = "Discrete optimization in the tensor-network (specifically, MPS-MPO) language."
authors = [
    "Aleksandr Berezutskii <berezutskii@phystech.edu>",
]
maintainers = [
    "Aleksandr Berezutskii <berezutskii@phystech.edu>"
]

[tool.poetry.dependencies]
python = ">=3.8,<3.10"
numpy = "^1.20.1"
scipy = "^1.6.1"
opt-einsum = "^3.3.0"
matplotlib = "^3.6.0"
tqdm = "^4.62.3"
more-itertools = "^8.12.0"
threadpoolctl = {version="^3.1.0", optional = true}
qecstruct = {version="^0.2.2", optional = true}
Sphinx = "^5.1.1"
sphinx-rtd-theme = "^1.0.0"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
black = "^22.3.0"
pylint = "^2.15.3"
setuptools = "^65.3.0"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
coverage = "^6.4.4"
pytest-cov = "^3.0.0"
pytest = "^7.1.3"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
Sphinx = "^5.1.1"
sphinx-rtd-theme = "^1.0.0"
sphinxcontrib-napoleon = "^0.7"
myst-parser = "^0.18.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
