[tool.poetry]
name = "mpopt"
version = "0.1.0"
description = "A MPS-MPO optimizer library"
authors = ["maxtremblay <matrem@protonmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"
scipy = "^1.6.1"
numpy = "^1.20.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.2"
pylint = "^2.7.2"
black = "^20.8b1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"