[tool.poetry]
name = "mpopt"
version = "0.1.0"
description = "A MPS-MPO optimiser library"
authors = [
    "Alex Berezutskii <berezutskii@phystech.edu>",
    "Max Tremblay <matrem@protonmail.com>",
    "Samuel Desrosiers <samuel.desrosiers@usherbrooke.ca>"
]

[tool.poetry.dependencies]
python = ">=3.8,<3.10"
scipy = "^1.6.1"
numpy = "^1.20.1"
tqdm = "^4.62.3"
Sphinx = "^4.2.0"
rinohtype = "^0.5.3"
sphinx-rtd-theme = "^1.0.0"
qecstruct = "^0.2.2"
opt-einsum = "^3.3.0"
m2r2 = "^0.3.1"
coverage = "^6.2"
pytest-cov = "^3.0.0"
more-itertools = "^8.12.0"
matplotlib = "^3.5.1"
threadpoolctl = "^3.1.0"
pylint = "^2.13.8"

[tool.poetry.dev-dependencies]
pytest = "^6.2.2"
pylint = "^2.7.2"
black = "^20.8b1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
