name: lint

on: [push, pull_request, fork]

jobs:
  lint:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3

        - name: Set up Python 3.9
          uses: actions/setup-python@v3.1.2
          with:
           python-version: 3.9

        - name: Set up Poetry
          run: pip install poetry

        - name: Install dependencies
          run: poetry install

        - name: Run linter
          run: poetry run pylint mpopt --fail-under=9
