name: tests

on: [push, pull_request]

permissions:
  id-token: write
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: 3.10.16

      - name: Set up Poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install --with test

      - name: Generate report
        run: |
          poetry run pytest --cov=./ --cov-report=xml -W ignore::DeprecationWarning

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          use_oidc: true
          files: /home/runner/work/mdopt/mdopt/coverage.xml
          verbose: true
